<!DOCTYPE html>
<html lang="<%= config.language%>" dir="<%= ['ar', 'fa', 'he', 'ur'].includes(config.language) ? 'rtl' : 'ltr' %>">
    <%- partial('_partial/head/index') %>
    <body>
        <div id="app" tabindex="-1">
            <%- partial('_partial/source/cover') %>
            <%- body %>
            <%- partial('_partial/source/footer', null, {cache: !config.relative_link}) %>
        </div>
        <%- partial('_partial/scripts/index') %>
    </body>
</html>
